
:root {
    --light-red: hsl(0, 100%, 67%); 
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);

    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%); 
    --light-lavender: hsl(241, 100%, 89%); 
    --dark-gray-blue: hsl(224, 30%, 27%);
    --light-gray: hsla(0, 0%, 100%, 0.5);
    --body-font-size: 18px;

}


html, body {
    height: 100%;
}

body {
    font-size: var(--body-font-size);
    display: grid;
    grid-template: 1fr 20px / 1fr;
    background-color: var(--white);
    min-width: 0;
    
}

#continue-btn {
    text-align: center;
    background-color: var(--dark-gray-blue);
    color: var(--white);
    padding-block: 1rem;
    border-radius: 330px;
}
#continue-btn:is(:hover, :focus) {
    cursor: pointer;
    background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
}
main {
    display: flex;
    flex-direction: column;
    min-width: 0;
}


.final-score-con {
    text-align: center;
    background: linear-gradient( var(--violet-blue), var(--persian-blue));
    padding: 2rem;
    border-radius: 400px;
    color: var(--light-gray);
}
.final-score-con>h1 {
    font-size: 4rem;
    color: var(--white);
}

.results-con {
    display: flex;
    flex-direction: column;
    flex: 1;
    
    justify-content: space-around;
    align-items: center;
    min-width: 0;
    background: linear-gradient(var(--light-slate-blue) , var(--light-royal-blue));
    border-radius: 0 0 30px 30px;
    padding: 2rem;
}
.final-score-para {
    color: var(--light-gray);
    text-align: center;
    line-height: 1.25;
}
.final-score-title {
    color: var(--white);
    font-size: 1.5rem;
}
.result-title {
    color: var(--light-gray);
    
}

.summary-con {
    flex: 1.5;
    min-width: 0;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1rem;
    justify-content: space-around;
    
}
.summary-title {

}

.categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
   border-radius: 10px;
    
}
.categories>p>span {
    color: hsl(from var(--dark-gray-blue) h s l / 0.5);
}
.icon-con {
    display: flex;
}
.icon-con>p {
    padding-inline-start: 1rem;
}

#reaction {
    background-color: hsl(from var(--light-red) H S L / 0.15);
}
#reaction>div>p {
    color: var(--light-red);
}

#memory {
    background-color: hsl(from var(--orangey-yellow) h s l / 0.15);
}
#memory>div>p {
    color: var(--orangey-yellow);
}

#verbal {
    background-color: hsl(from var(--green-teal) h s l / 0.15);
}

#verbal>div>p {
    color: var(--green-teal);
}

#visual {
    background-color: hsl(from var(--cobalt-blue) h s l / 0.15);
}

#visual>div>p {
    color: var(--cobalt-blue);
}

@media (min-width: 760px) {
    body {
        justify-items: center;
        grid-template: 20% 1fr 20px / 1fr;
        /* align-items: center; */
    }
    main {
        flex-direction: row;
        /* box-shadow: 0 0 15%; */
        max-block-size: 40rem;
        max-inline-size: 70rem;
       grid-row: 2;
       background-color: var(--white);
        box-shadow: 10px 10px 50px 0;
        border-radius: 30px;
        border-bottom-left-radius: 30px;
        border-top-left-radius: 30px;
    }

    .summary-con {
        border-radius: 30px;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        flex: 1;
       
    }

    .results-con {
        border-radius: 30px;

        flex: 1;
    }
    footer {
        grid-row: 3;
    }
}
.hanken-grotesk-500{
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.hanken-grotesk-700{
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.hanken-grotesk-800{
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}